.aboutus_main_container{

    .aboutus_page_title{
        font-family: var(--font-questrial);
        font-size: 30px;
    }

    .aboutus_subsection1{
        width: 100%;
        margin-top: 30px;
        justify-content: space-evenly;

        .aboutus_img1{
            width: 480px;
            height: 680px;
            object-fit: scale-down;
        }

        .top_text_section{
            width: 40%;

            .top_text_section_title{
                font-size: 40px;
                text-align: right;
            }

            .top_text_section_text{
                font-family: var(--font-questrial);
                font-size: 28px;
                text-align: right;
            }
        }

        
    }

    .aboutus_subsection2{
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
        justify-content: space-evenly;

        .aboutus_img2{
            width: 480px;
            height: 680px;
            object-fit: scale-down;
        }

        .bottom_text_section{
            width: 40%;

            .bottom_text_section_title{
                font-size: 40px;
                text-align: left;
            }

            .bottom_text_section_text{
                font-family: var(--font-questrial);
                font-size: 28px;
                text-align: left;
            }
        }

        
    }
}