.signIn_main_container {
    .signIn_form_and_image_container {
        position: relative;
        background-color: var(--color-lavenderPink);
        height: 90vh;
        width: 80%;
        background-image: url('../../assets/images/loginBg1.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .form_wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: auto;
            margin-bottom: auto;
            max-width: 692px;
            width: 50%;
            height: 70%;
            border-radius: 40px;
            border: 3px solid #FFF;
            background: rgba(255, 255, 255, 0.25);
            box-shadow: 0px 4px 40px 0px rgba(151, 111, 191, 0.40);
            backdrop-filter: blur(30px);
            margin-right: -60px;

            .form {
                height: 85%;
                width: 75%;
                margin-bottom: 40px;
            }

            .forgot_password_link {
                margin-top: 10px;
                font-family: var(--font-questrial);
                font-size: 18px;
                
                &:hover{
                    cursor: pointer;
                    color: var(--color-cerulean);
                }
            }

            .form_text_center {
                width: 100%;
                margin-top: 30px;
                font-family: var(--font-questrial);
                font-size: 18px;
                text-align: center;
                justify-self: center;
            }

            .sign_in_button {
                margin-top: 30px;
            }

            .form_text_center {
                width: 100%;
                margin-top: 20px;
                font-family: var(--font-questrial);
                font-size: 18px;
                text-align: center;
                justify-self: center;
            }

            .sign_up_button{
                margin-top: 20px;
                background-color: var(--color-white);
                &:hover{
                    background-color: #FFBEE6;
                }
            }
        }
    }

    // Media Queries
    @media (max-width: 1200px) {
        .signIn_form_and_image_container {
            width: 90%;

            .form_wrapper {
                width: 60%;
            }
        }
    }

    @media (max-width: 992px) {
        .signIn_form_and_image_container {
            .form_wrapper {
                width: 70%;
                margin-right: 0;
            }
        }
    }

    @media (max-width: 768px) {
        .signIn_form_and_image_container {
            width: 100%;
            height: 100vh;

            .form_wrapper {
                width: 80%;
                height: 60%;
                max-width: none;
                border-radius: 20px;

                .form {
                    width: 85%;
                }
            }
        }
    }

    @media (max-width: 576px) {
        .signIn_form_and_image_container {
            .form_wrapper {
                width: 90%;
                height: 65%;
                min-height: max-content;

                .form {
                    width: 90%;
                }

                .forgot_password_link,
                .form_text_center {
                    font-size: 16px;
                }
            }
        }
    }
}