.shop_main_container {
    .shop_offers_container {
        width: 90%;
        height: max-content;
        margin-top: 40px;
        margin-bottom: 40px;

        .image_title_button_container {
            width: 100%;
            align-items: flex-start;
            height: auto;
            max-height: 420px;
            margin-top: 20px;

            .offer_name {
                font-size: clamp(24px, 5vw, 40px);
                z-index: 2;
                margin-bottom: -60px;
                margin-left: 20px;
            }

            .offer_image {
                width: 100%;
                height: auto;
                max-height: 420px;
                aspect-ratio: 16 / 9;
                object-fit: cover;
                border-radius: 15px;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }

            .shop_offers_button {
                z-index: 2;
                margin-top: -60px;
                margin-left: 20px;
            }
        }
    }

    .shop_categories_container,
    .shop_products_container {
        width: 90%;
        margin-top: 20px;
        margin-bottom: 30px;

        .section_title_button_container,
        .section_title_dropdown_container {
            width: 100%;
            justify-content: space-between;
            // align-items: center;
            margin-bottom: 20px;
            flex-wrap: wrap;

            .section_title {
                font-size: clamp(20px, 4vw, 28px);
            }

            .filter_icon {
                width: 30px;
                height: 30px;
                border: 1px solid var(--color-black);
                cursor: pointer;
            }
        }

        .search_wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 90px;
            margin-bottom: 15px;
            margin-left: auto;
            margin-right: auto;
        }

        .categories_container,
        .products_container {
            width: 100%;
            display: grid;
            gap: 30px;
        }
    }
}

@media screen and (max-width: 768px) {
    .shop_main_container {
        .shop_offers_container,
        .shop_categories_container,
        .shop_products_container {
            width: 95%;
        }

        .categories_container{
            grid-template-columns: repeat(4, 1fr);
        }
        .products_container {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .shop_main_container {
        .categories_container{
            grid-template-columns: repeat(4, 1fr);
        }
        .products_container {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media screen and (min-width: 1025px) {
    .shop_main_container {
        .categories_container,
        .products_container {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}