.welcome_main_container {
    .welcome_text_and_image_container {
        background-color: var(--color-lavenderPink);
        height: 90vh;
        width: 80%;
        justify-content: space-between;

        .welcome_text_button_container {
            width: 45%;
            margin-left: 20px;

            .welcome_text {
                font-size: 72px;
                margin-bottom: 15px;
            }

            .welcome_subtext {
                font-size: 24px;
                margin-bottom: 15px;
                font-family: var(--font-inter);
                font-weight: 800;
                color: var(--color-white);
            }

            .welcome_shop_button {
                width: 120px;
            }
        }

        .welcome_image {
            width: 54%;
            height: 100%;
            object-fit: cover;
            padding: 0;
            right: 0;
        }

        .welcome_text_button_container_mobile {
            display: none;
        }
    }
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .welcome_main_container {
        min-height:65vh;

        .welcome_text_and_image_container {
            justify-content: center;
            flex-direction: column;
            height: 65vh;
            width: 100%;
            background-image: url('../../../assets/images/loginBg3.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            .welcome_image {
                display: none;
            }

            .welcome_text_button_container {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 90%;
                margin: 20px auto;
                text-align: center;

                .welcome_text {
                    font-size: 48px;
                }

                .welcome_subtext {
                    font-size: 20px;
                }

                .welcome_shop_button {
                    margin: 10px auto 0;
                }
            }
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .welcome_main_container {
        .welcome_text_and_image_container {
            width: 90%;

            .welcome_text_button_container {
                width: 48%;

                .welcome_text {
                    font-size: 60px;
                }

                .welcome_subtext {
                font-size: 22px;
            }
            }

            .welcome_image {
                width: 50%;
                object-fit: contain;
            }
        }
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .welcome_main_container {
        .welcome_text_and_image_container {
            width: 85%;

            .welcome_text_button_container {
                .welcome_text {
                    font-size: 66px;
                }

                .welcome_subtext {
                    font-size: 23px;
                }
            }
        }
    }
}