.welcome_main_container {

    .welcome_text_and_image_container {
        background-color: var(--color-lavenderPink);
        height: 90vh;
        width: 80%;
        justify-content: space-between;

        .welcome_text_button_container {
            width: 45%;
            margin-left: 20px;
            .welcome_text {
                font-size: 58px;
                margin-bottom: 20px;
            }

            .welcome_shop_button {
                width: 120px;
            }
        }

        .welcome_image{
            width: 54%;
            height: 100%;
            object-fit: cover;
            padding: 0;
            right: 0;
        }

    }

}