.category_main_container {
    margin-bottom: 20px;
    width: 100%;
    max-width: 120px;
    margin-left: auto;
    margin-right: auto;

    &:hover {
        cursor: pointer;
        transform: translateY(-5px);
    }

    .category_image {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
        border-radius: 10px;
        object-fit: cover;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .category_name {
        margin-top: 5px;
        font-size: clamp(9px, 3vw, 16px);
        text-transform: capitalize;
        font-family: var(--font-inter);
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .category_main_container {
        max-width: 100px;
    }
}