.cart_container {
    width: 100%;
    padding: 2rem;
    background-color: var(--color-white);
  
    .cart_heading {
      font-size: clamp(28px, 5vw, 40px);
      margin-bottom: 3rem;
      text-align: left;
      color: var(--color-black);
      font-family: var(--font-questrial);
      font-weight: lighter;
    }
  
    .empty_cart_text {
      font-size: 1.5rem;
      text-align: center;
      font-family: var(--font-questrial);
      color: var(--color-dark_grey);
    }
  
    .cart_items_container {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, minmax(300px, 1fr));
      gap: 1.5rem;
      margin-bottom: 2rem;
    }
  
    .cart_summary {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 1rem;
      margin-top: auto;
  
      .cart_subtotal {
        font-size: clamp(20px, 4vw, 28px);
        color: var(--color-black);
        font-family: var(--font-inter);
        font-weight: 800;
      }
  
      .checkout_button {
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
      }
    }
  }

  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .cart_container {
      padding: 1.5rem;
  
      .cart_items_container {
        grid-template-columns: repeat(3, 1fr);
      }
  
      .cart_summary {
        align-items: flex-end;
  
        .checkout_button {
          width: auto;
        }
      }
    }
  }
  
  
@media screen and (min-width: 481px) and (max-width: 768px) {
  .cart_container {
    padding: 1.5rem;

    .cart_items_container {
      grid-template-columns: repeat(2, 1fr);
    }

    .cart_summary {
      align-items: flex-end;

      .checkout_button {
        width: auto;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .cart_container {
    padding: 1rem;

    .cart_items_container {
      grid-template-columns: 1fr;
    }

    .cart_summary {

      .checkout_button {
        // width: 100%;
      }
    }
  }
}