.staff_management_wrapper {
    min-height: 100vh;
    padding: 2rem;

    .add_staff_link_wrapper {
        margin-left: auto;
        margin-right: auto;
        width: 96%;
        justify-content: space-between;
        margin-bottom: 2rem;

        h2 {
            font-size: 1.5em;
        }

        .add_staff_link {
            text-align: center;
        }
    }

    .search_wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 97%;
        height: 90px;
        padding: 0.2em 1em;
        background-color: var(--color-purple);
        margin-left: auto;
        margin-right: auto;
    }

    .staff_table, .role_table {
        margin-left: auto;
        margin-right: auto;
        width: 96%;

        .table_headers_wrapper {
            border-radius: 5px;

            .table_header {
                font-family: var(--font-inter);
                height: 10px;
                padding: 10px;
                background-color: var(--color-lavenderPink);
                font-size: 0.9em;
                font-weight: 900;
                color: #444;
            }
        }
    }

    .no_staff_text {
        text-transform: capitalize;
        color: var(--color-grey);
        width: 100%;
        text-align: center;
        font-size: 2em;
        margin-top: 40px;
        font-family: var(--font-inter);
    }
}