.checkbox_container {
    margin-top: 25px;
    border-top: solid black 1px;
    font-family: var(--font-inter);
    height: 20px;
    width: max-content;

    .checkbox_label {
        font-size: 18px;
        color: var(--color-black);
        font-weight: 800;
        margin-right: 5px;
    }
}