.search_main_container{
    width: px;
    height: 40px;
    background-color: var(--color-white);
    border-radius: 5px;
    justify-content: space-between;
    
    .search_input{
        border: none;
        height: 32px;
        margin-left: 2px;
        margin-right: 2px;
        font-family: var(--font-openSans);
        font-size: 20px;
        font-weight: lighter;
        &:focus{
            outline: none;
        }
    }

    &:hover, &:focus {
        border: 1px solid var(--color-black);
    }
}