.search_main_container {
    width: px;
    height: 40px;
    background-color: var(--color-white);
    border-radius: 5px;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

    .searchIcon {
        margin-left: 4px;
    }

    .search_input {
        border: none;
        height: 32px;
        margin-left: 4px;
        margin-right: 4px;
        font-family: var(--font-openSans);
        font-size: 20px;
        font-weight: lighter;

        &:focus {
            outline: none;
        }
    }

    &:hover,
    &:focus,
    &:active {
        border: 1px solid var(--color-black);
    }
}