.portal_wrapper {
    flex-direction: row;

    .portal_navigation_menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        width: 5%;
        background-color: var(--color-periwinkle);
        border-top: 2px solid var(--color-white);
        border-bottom: 2px solid var(--color-white);
        justify-content: space-evenly;

        .portal_navigation_icon {
            height: 30px;
            width: 30px;
            color: var(--color-white);

            &:hover {
                color: var(--color-cerulean)
            }
        }

        .portal_logout_icon {
            @extend .portal_navigation_icon;
            color: red
        }
    }

    .sub_pages_wrapper {
        height: 100vh;
        width: 95%;
        overflow-y: scroll;
    }
    .sub_pages_wrapper::-webkit-scrollbar{
        display: none;
    }


    .portal_navigation_menu_mobile {
        display: none;
        flex-direction: row;
        align-items: center;
        height: 50px;
        width: 100%;
        background-color: var(--color-purple);
        border-top: 5px solid var(--color-black);
        justify-content: space-around;

        .portal_navigation_icon {
            height: 30px;
            width: 30px;
            color: var(--color-gold);

            &:hover {
                color: var(--color-white)
            }
        }

        .portal_logout_icon {
            @extend .portal_navigation_icon;
            color: red
        }
    }
}