.latestTreats_main_container {
    min-height: fit-content;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;

    .latestTreats_page_title {
        font-size: clamp(24px, 4vw, 40px);
        text-align: center;
        margin-bottom: 20px;
    }

    .latestTreats_page_text {
        font-family: var(--font-questrial);
        font-size: clamp(14px, 2.5vw, 24px);
        text-align: center;
        width: 90%;
        max-width: 1020px;
        margin: 0 auto 40px;
    }

    .products_container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        justify-content: center;
    }

    .view_all_button {
        margin: 40px auto 0;
        width: clamp(132px, 30%, 200px);
        display: block;
    }
}

/* Media Queries */
@media screen and (max-width: 767px) {
    .latestTreats_main_container {
        padding: 30px 15px;

        .products_container {
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .latestTreats_main_container {
        .products_container {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (min-width: 1024px) {
    .latestTreats_main_container {
        .products_container {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}