.latestTreats_main_container {
    min-height: fit-content;

    .latestTreats_page_title {
        font-size: 40px;
        text-align: center;
        margin-bottom: 15px;
    }

    .latestTreats_page_text {
        font-family: var(--font-questrial);
        font-size: 24px;
        text-align: center;
        width: 80%;
    }

    .products_container {
        width: 90%;
        margin-top: 40px;
        justify-content: space-evenly;
        ;
    }

    .view_all_button {
        margin-top: 20px;
        margin-bottom: 5%;
        width: 132px;
    }
}